#serra {
    letter-spacing: 0.04em;
    box-sizing: border-box;
    width: 100%;
    transform: rotate(0deg);
    opacity: 1.0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    color: #000000;
    font-family: YAFdJhX-538-0;
    line-height: 1.18755497em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;

    font-size: max(5vh, 5vw);

    /* opacity: calc(min(80 / var(--scroll) - 0.1, 1)); */
}

#amp {
    width: 100%;
    transform: rotate(0deg);
    opacity: 1.0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    color: #000000;
    font-family: YAD86m_J1ck-0;
    line-height: 1.18807579em;
    text-align: center;

    font-size: max(5vh, 5vw);

    /* scale: calc( max((var(--scroll) / 100 * 5) - 3, 1) ); */
    transform: rotate(calc(1deg * var(--scroll) / 3));
    /* opacity: calc(min(130 / var(--scroll) - 0.1, 1)); */


}

#goktug {
    box-sizing: border-box;
    transform: rotate(0deg);
    opacity: 1.0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    color: #000000;
    font-family: YAFdJhX-538-0;
    line-height: 1.18755497em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: 300;

    font-size: max(5vh, 5vw);

    /* opacity: calc(min(80 / var(--scroll) - 0.1, 1)); */
}

#evleniyoruz {
    letter-spacing: 0.04em;
    box-sizing: border-box;
    width: 100%;
    transform: rotate(0deg);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    color: #000000;
    font-family: YAFdJhX-538-0;
    line-height: 1.18755497em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;

    font-size: max(3vh, 3vw);

    /* opacity: calc((var(--scroll) - 7000) / 1000); */
}

#ozel-gun {
    letter-spacing: 0.04em;
    box-sizing: border-box;
    width: 100%;
    transform: rotate(0deg);
    /* opacity: 1.0; */
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    color: #000000;
    font-family: YAFdJhX-538-0;
    line-height: 1.18755497em;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 300;


    font-size: max(3vh, 3vw);

    /* opacity: calc((var(--scroll) - 15000) / 1000); */
}

.adres-title {
    box-sizing: border-box;
    width: 100%;
    transform: rotate(0deg);
    opacity: 1.0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    color: #000000;
    font-family: YAFdJhX-538-0;
    line-height: 1.18755497em;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 300;

    font-size: max(3vh, 3vw);

    /* opacity: calc((var(--scroll) - 18000) / 1000); */
}

.adres-text {
    box-sizing: border-box;
    width: 100%;
    transform: rotate(0deg);
    opacity: 1.0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    color: #000000;
    font-family: YAFdJhX-538-0;
    line-height: 1.18755497em;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 300;

    font-size: max(1.5vh, 1.5vw);

    /* opacity: calc((var(--scroll) - 18000) / 1000); */
}

.map {
    /* padding: 10vh; */
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5vh;
    padding-right: 5vh;

    font-family: YAFdJhX-538-0;
    font-size: max(1.5vh, 1.5vw);

    /* opacity: calc((var(--scroll) - 20000) / 1000); */

}

#rsvp-button {
    margin: auto;
    margin-top: 2vh;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: large;
    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

#rsvp-button:hover {
    background-color: none;
}

.navbar {
    opacity: calc((23000 - var(--scroll)) / 1000);
}

.navbar-brand img {
    max-width: 100px;
    /* Adjust the maximum width of your picture */
    height: auto;
    /* Maintain aspect ratio */
}

.section {
    /* scale: calc( max((var(--scroll) / 100 * 5) - 3, 1) ); */
    object-fit: cover;
}

.row {
    margin: 0;
    /* margin-bottom: 10vh; */
}

.img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.img-bg {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#last-bg {
    background-color: black;
}

.over {
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: -1;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-link {
    font-family: YAFdJhX-538-0;
    font-size: 1.5vh;
    color: gray;

    display: inline-block;
    text-align: center;
}

.nav-link:hover {
    color: black;
}

.section {
    margin-bottom: 10vh;
}

#brand-image {
    height: 6vh;
    height: calc(max((((var(--scroll) - 1500) / 200) * -1vh), 4vh));
    margin: 1vh;
}


/* ITEMS */

.content {
    top: 0;
    height: 98vh;
    position: relative;
}

.text {
    padding-top: 40vh;
}

.invisible-text {
    opacity: 0;
    transition: opacity 1s ease;
}

.map {
    opacity: 0;
    transition: opacity 1s ease;
}

.loaded {
    opacity: 1;
}

#first-item {
    padding-top: 30vh;
}

#second-item {
    
}

#third-item {
    
}

#forth-item {
    
}

#fifth-item {
    height: 60vh;
    
}

#sixth-item {
    padding-top: 20vh;
    margin-bottom: 30vh;
}

#seventh-item {
    padding: 0;
}